*{padding: 0;
margin: 0;}
body{background-image: url(/home/daniellinux/Downloads/garotanova.jpg);
background-repeat: no-repeat; background-size: cover;}
ul:hover{background-color: black; transition: all; transition-duration: 3s;}
ul li:hover{color: white;}
li{display: inline; padding-left: 10px; font-size: larger; cursor: pointer;font-family: 'Pushster', cursive;
color: white;}
.pesquisa{border-radius: 25px;}
.titulo{color: white; text-align: center;}