*{margin: 0; height: 100%;} 
	body{width: 100%;} 
	.img-container{background-image: url("/home/daniellinux/Área de Trabalho/frontend/projetos-para-github/imagens/images.jpeg"); height: 70%; background-position: center; background-repeat: no-repeat;
		background-size: cover; position: relative; 
		background-attachment: fixed;}

	h1{font-family: 'Shadows Into Light', cursive;} 

p{font-family: 'Corinthia', cursive; color: white; font-size: 70px;}


.inner-container{text-align: center;
position: absolute;
width: 100%; 
color: white;
height: auto;
margin-top: 200px;}
a{margin-top: 20px;
font-size: 1.3 em; 
font-family: "Source Sans Pro",sans-serif}  

.btn{display: inline-block;width: 200px; font-weight: bold;
color: gray; border: 1 px sold gray;
text-align: center; 
background-color: white;
border-radius: 25px;
outline: none; text-decoration: none; 
transition: background-color: 0.2s easeout, color 0.2 ease out;} 


.btn:hover, .btn: active{background-color: #fff;color: #000; transition: background-color0.3s ease-in,color 0.3s ease in;} 

.img-container2{background-image: url("/home/daniellinux/Área de Trabalho/frontend/projetos-para-github/imagens/download (1).jpeg"); height: 70%; background-position: center; background-repeat: no-repeat;
		background-size: cover; position: relative; 
		background-attachment: fixed;}

	h1{font-family: 'Shadows Into Light', cursive;}  
	.img-container3{background-image: url("/home/daniellinux/Área de Trabalho/frontend/projetos-para-github/imagens/download.jpeg2"); height: 70%; background-position: center; background-repeat: no-repeat;
		background-size: cover; position: relative; 
		background-attachment: scroll;}
 

	h1{font-family: 'Shadows Into Light', cursive;} 


.menu{text-align: center; color: white; font-size: 40px;}
